---
import Layout from '../../layouts/Layout.astro';
import CategoryCard from '../../components/CategoryCard.astro';
import { categories } from '../../data/categories';
import type { Language } from '../../utils/language';
import SearchBar from '../../components/SearchBar.astro';
import LanguageSwitcher from '../../components/LanguageSwitcher.astro';
export function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'id' } },
  ];
}

const { lang } = Astro.params;
const currentLang = lang as Language;

const titles = {
  en: "A simple app for small business",
  id: "Aplikasi simple untuk bisnis kecil"
};

---

<Layout title={titles[currentLang]}>
  <div>
    <div class="flex pt-4 items-center justify-center">
      <LanguageSwitcher />
    </div>
    <div class="max-w-4xl mx-auto px-4">
      <div class="text-center">
        <h1 class="text-5xl font-extrabold text-white my-10 leading-tight [text-shadow:_2px_2px_4px_rgb(75_85_99)]">{titles[currentLang]}</h1>
      </div>
      <div class="w-full my-4">
        <SearchBar />
      </div>
      
      <div class="space-y-6">
        {categories.map(category => (
          <CategoryCard {...category} />
        ))}
      </div>
    </div>
  </div>
</Layout> 